# **Theory Questions**

Ques.1 What are data structures, and why are they important?

Ans.1 Data structures are a way to organize, store, process, and retrieve data in a specific format.
*   Importance :     
  1. Make data accessible.
  2. Optimize code.
  3. Manage large amount of data.
  4. Solve complex problems.

Ques.2  Explain the difference between mutable and immutable data types with examples?

Ans.2
*   Mutable Data Type – A mutable data type is one whose values can be changed.

Example: List, Dictionaries, and Set

*   Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.

Example: String and Tuples

Ques.3 What are the main differences between lists and tuples in Python?

Ans.3 The main differences between lists and tuples are as follows.

*   Lists are mutable and tuples are immutable.
*   List are data type whose values can be changed after creation where as Tuples Data type whose values can not be changed or altered.
*   List Retains the same memory location even after the content is modified where as in tuples any modification results in a new object and new memory location.

Ques.4 Describe how dictionaries store data?

Ans.4 Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered.

Ques.5 Why might you use a set instead of a list in Python?

Ans.5 We might use set instead of list in paython because it does not store duplicate values and efficient for membership testing.

Ques.6 What is a string in Python, and how is it different from a list?

Ans.6 String is a sequence of character stored between single and double Quotes where as, a list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

Ques.7 How do tuples ensure data integrity in Python?

Ans.7 Tuples in Python provide data integrity through their immutability. Once you create a tuple, you can't modify its content. This means that the data remains consistent and unchanged throughout the program's execution.

Ques.8 What is a hash table, and how does it relate to dictionaries in Python?

Ans.8 A hash table is a data structure designed for efficient data retrieval. It works by using a hash function to convert a key into a unique hash code, which serves as an index to store the value in an array. This allows for quick access to the data because you can jump directly to the index using the hash code.

Ques.9 Can lists contain different data types in Python?

Ans.9 Yes, Lists contain diffrent data types such as Integer, boolean, complex number, strings, float etc.

Ques.10 Explain why strings are immutable in Python?

Ans.10 Strings are immutable because it is a sequence of character stored between single and double quotes and can not be changed or modified.

Ques.11 What advantages do dictionaries offer over lists for certain tasks?

Ans.11 Dictionaries and lists are both incredibly useful data structures in Python. Here are some key advantages of dictionaries over lists for certain tasks:

Key-Value Pair Storage:
*   Dictionaries: Store data in key-value pairs, making it easy to access and manage data based on a unique identifier (key). This is ideal for scenarios where you need to quickly retrieve data based on a known key.
*   Lists: Store data in a sequential manner and are better suited for ordered collections where the position of elements is important.

Data Integrity and Uniqueness:

*   Dictionaries: Keys in dictionaries must be unique, which helps in maintaining data integrity. Duplicate keys are not allowed, preventing data duplication.
*   Lists: Allow duplicate elements, which might not be suitable for tasks where uniqueness is required.

Ques.12 Describe a scenario where using a tuple would be preferable over a list?

Ans.12 Using a tuple is preferable over a list in scenarios where you need to ensure that the data remains constant and unmodifiable. One common example is using tuples as keys in dictionaries.

In [47]:
#Scenario Example
# Creating a dictionary with tuples as keys
math_english_marks = {
    (80, 90): 'Suneep Dhanwal',
    (40, 60): 'Monjolika',
    (70, 90): 'Vanshika'
}

# Accessing a value using a tuple key
print(math_english_marks[(80, 90)])  # Output: Suneep Dhanwal

Suneep Dhanwal

Ques.13  How do sets handle duplicate values in Python?

Ans.13Sets in Python are designed to handle unique elements, meaning they automatically eliminate any duplicate values. When you add elements to a set, duplicates are discarded, leaving only one instance of each element.

In [ ]:
# Creating a set with duplicate values
my_set = {1, 2, 3, 2, 1}
print(my_set)

{1, 2, 3}

Ques.14 How does the “in” keyword work differently for lists and dictionaries?

Ans.14 The in keyword in Python is used to check for membership, but it works a bit differently for lists and dictionaries.


*   Lists - For lists, in checks if a particular value exists within the list. It sequentially goes through each element until it finds a match or reaches the end of the list.
*   Dictionary - For dictionaries, in checks if a particular key exists within the dictionary. It doesn’t check the values, only the keys.

In [ ]:
#EXAMPLE FOR LIST
my_list = [1, 2, 3, 4, 5]
print(3 in my_list) # Output: True
print(6 in my_list) # Output: Flase

True
False

In [ ]:
#EXAMPLE FOR DICTIONARY
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
print('banana' in my_dict) # Output: True
print('grape' in my_dict)  # Output: False

True
False

Ques.15  Can you modify the elements of a tuple? Explain why or why not?

Ans.15 No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed.

Reasons why we can not modify tuple -

Data Integrity: Immutability ensures that the data remains consistent and unchanged throughout the program. This is particularly useful when you want to protect data from accidental modifications.

Hashability: Because tuples are immutable, they can be used as keys in dictionaries and elements in sets. This makes tuples valuable in scenarios where you need reliable and unique keys or elements.

Performance: Immutable objects can be optimized by Python’s memory management system. They can be shared among multiple variables, reducing memory overhead and improving performance.

Ques.16 What is a nested dictionary, and give an example of its use case?

Ans.16 In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

In [46]:
#example of nested dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print((people[1]['name'])," ", people[2]['name'])
print((people[1]['age']), "   ", people[2]['age'])
print((people[1]['sex'])," ", people[2]['sex'])

John   Marie
27     22
Male   Female

Ques.17 Describe the time complexity of accessing elements in a dictionary?

Ans.17 Similar to the insertion operation, dictionary lookups in Python also have an average time complexity of O(1). This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.

Ques.18 In what situations are lists preferred over dictionaries?

Ans.18 lists are preferred when dealing with ordered collections, index-based access, iterative processing, simple collections, and homogeneous data. They provide a flexible and efficient way to handle such scenarios, making them a staple in many Python applications.

Ques.19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.19 Dictionaries are considered unordered because they store key-value pairs based on the hash of the keys rather than the order of insertion. This means that the order in which elements are retrieved is not guaranteed to be the same as the order they were added. However, this does not affect the efficiency of accessing elements by their keys, which remains very fast.

Ques.20  Explain the difference between a list and a dictionary in terms of data retrieval?

Ans.20 Data retrieval in Python, lists and dictionaries serve different purposes:

Lists: Use indices for access, are ordered, and efficient for sequential data.

Dictionaries: Use keys for access, are unordered (though maintain insertion order in Python 3.7+), and efficient for key-value pair data.

# Parctical Questions

Ques.1 Write a code to create a string with your name and print it.

In [1]:
#Ans.1

name = "Suneep Dhanwal" #creating string with my name
print(name)  # for printing the string

Suneep Dhanwal

Ques.2 Write a code to find the length of the string "Hello World".

In [2]:
#Ans.2

#Creating my string.
my_string = "Hello World"

#Printing the length of the string.
print(len(my_string))

11

Ques.3 Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
#Ans.3

#creating my string
my_str = "Python Programming"
my_str[:3] #slicing the first 3 characters from the string
print(my_str[:3])

Pyt

Ques.4 Write a code to convert the string "hello" to uppercase.

In [5]:
#Ans.4
# creating string
my_str = "hello"
print(my_str.upper()) # (.Upper) used for uppercase

HELLO

Ques.5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [10]:
#Ans.5
#creating string
my_str =  "I like apple"
print(my_str.replace("apple", "orange")) # (.replace) used to replace

I like orange

Ques.6 Write a code to create a list with numbers 1 to 5 and print it.

In [11]:
#Ans.6
#creating my list
my_list = [1,2,3,4,5]
print(my_list) #printing my list

[1, 2, 3, 4, 5]

Ques.7 Write a code to append the number 10 to the list [1, 2, 3, 4].

In [13]:
#Ans.7
#creating list
my_list = [1,2,3,4]
my_list.append(10) #adding number 10 to the list.
print(my_list) #printing my list

[1, 2, 3, 4, 10]

Ques.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [19]:
#Ans.8
my_list = [1,2,3,4,5]
my_list.pop(2) #removing the number 3 from list
print(my_list) #printing updated list

[1, 2, 4, 5]

Ques.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [20]:
#Ans.9
my_list = ['a', 'b', 'c', 'd']
print(my_list[1]) #accessing the second element in the list

b

Ques.10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [25]:
#Ans.10
my_list = [10,20,30,40,50]
print(my_list[::-1]) #reversing the list

[50, 40, 30, 20, 10]

Ques.11 Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [26]:
#Ans.11
#creating tuple
my_tuple = (10,20,30)
print(my_tuple) #printing tuple

(10, 20, 30)

Ques.12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [27]:
#Ans.12
#creating tuple
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0]) #accessing the first element of the tuple

apple

Ques.13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [28]:
#Ans.13
# Creating tuple
my_tuple = (1,2,3,2,4,2)
my_tuple.count(2) #counting no. of time 2 Appear
print(my_tuple.count(2))

3

Ques.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [30]:
#Ans.14
# Creating tuple
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index("cat")) #finding index of the element "cat"

1

Ques.15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [31]:
#Ans.15
# Creating tuple
my_tuple = ('apple', 'orange', 'banana')
print("banana" in my_tuple) #checking if the element "banana" is in the tuple.

True

Ques.16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [32]:
#Ans.16
#Creating set
my_set = {1, 2, 3, 4, 5}
print(my_set) #printing set

{1, 2, 3, 4, 5}

Ques.17 Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [33]:
#Ans.17
#Creating set
my_set = {1, 2, 3, 4,}
my_set.add(6) #adding element 6 to the set.
print(my_set) #printing updated set

{1, 2, 3, 4, 6}

Ques.18 Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [34]:
#Ans.18
#Creating tuple
my_tuple = (10,20,30)
print(my_tuple) #printing tuple

(10, 20, 30)

Ques.19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [35]:
#Ans.19
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0]) #accessing the first element of the tuple.

apple

Ques.20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [36]:
#Ans.20
# Creating tuple
my_tuple = (1,2,3,2,4,2)
my_tuple.count(2) #counting no. of time 2 Appear
print(my_tuple.count(2))

3

Ques.21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [37]:
#Ans.14
# Creating tuple
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index("cat")) #finding index of the element "cat"

1

Ques.22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [40]:
#Ans.22
# Creating tuple
my_tuple = ('apple', 'orange', 'banana')
print("banana" in my_tuple) #checking if the element "banana" is in the tuple.

True

Ques.23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [39]:
#Ans.23
#Creating set
my_set = {1, 2, 3, 4, 5}
print(my_set) #printing set

{1, 2, 3, 4, 5}

Ques.24 Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [38]:
#Ans.24
#Creating set
my_set = {1, 2, 3, 4,}
my_set.add(6) #adding element 6 to the set.
print(my_set) #printing updated set

{1, 2, 3, 4, 6}